<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>微博热搜</title>
    
    <script src="https://cdn.bootcss.com/echarts/4.4.0-rc.1/echarts.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
</head>

<body>
    
    <div>
        <table>
            <tr>
                <td>
                    <div id="main" style="width: 1200px;height:1200px;"></div>
                </td>
            </tr>
        </table>
    </div>

    <script src="../static/showcharts.js"></script>
    

</body>
</html>